.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.modal-content {
    width: 50%;
    height: auto;
}

.modal-header, .modal-footer {
    padding: 10px;
    background-color: #00ADB5;
    border: 0 !important;
}

.modal-title {
    margin: 0;
    color: #EEE;
}

.modal-body {
    padding: 10px;
    display:flex;
    justify-content: center;
    background-color: #2b2f36;
}

.user-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.inpa {
    width: 18%;
}

.accountUp {
    background-color: #2b2f36; 
}

h1 {
    color: white;
}